@model server.DTOs.Accounts.LoginAccountDto
@using System.Net.Http

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}
<div class="col-lg-6 d-flex align-items-center justify-content-center">
    <div class="auth-form-transparent text-left p-3">
        @*<div class="brand-logo">
            <img src="~/Layout/images/logo.svg" alt="logo">
        </div>*@
        <h4>Welcome back!</h4>
        <h6 class="font-weight-light">Happy to see you again!</h6>
        
        <form action="/Account/Login/" method="post" class="pt-3">
            <div class="form-group">
                <label for="exampleInputEmail">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Email" type="text" class="form-control form-control-lg border-left-0" placeholder="Username">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control form-control-lg border-left-0" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input">
                        Keep me signed in
                    </label>
                </div>
                <a data-bs-toggle="modal" data-bs-target="#modalForgot" style="cursor: pointer" class="text-primary">Forgot Password?</a>
            </div>
            <div class="my-3">
				<button class="btn btn-primary" type="submit">Login</button>
            </div>
            @*<div class="mb-2 d-flex">
                <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                    <i class="mdi mdi-facebook mr-2"></i>Facebook
                </button>
                <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                    <i class="mdi mdi-google mr-2"></i>Google
                </button>
            </div>*@
           @* @if(User.IsInRole("Finance"))
            {
            <div class="text-center mt-4 font-weight-light">
                Don't have an account? <a data-bs-toggle="modal" data-bs-target="#modalRegister" style="cursor: pointer" class="text-primary">Register</a>
            </div>
            }*@
           @* <div class="text-center mt-4 font-weight-light">
                Forget Password? <a href="register-2.html" class="text-primary">Forgot Password</a>
            </div>*@
        </form>
    </div>
</div>
<div class="col-lg-6 login-half-bg d-none d-lg-flex flex-row">
    <p class="text-white font-weight-medium text-center flex-grow align-self-end"></p>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@





@*----------------------------------------
MODAL UNTUK FORGOT PASSWORD
----------------------------------------*@

<div class="modal fade" tabindex="-1" role="dialog" id="modalForgot">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Forgot Password</h5>
                <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pt-3">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="forgotEmail" placeholder="Email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="forgotPassword()" class="btn btn-primary" data-bs-dismiss="modal">Forgot Password</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@*----------------------------------------
MODAL UNTUK CHANGE PASSWORD
----------------------------------------*@

<div class="modal" tabindex="-1" role="dialog" id="modalChange">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password Form</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pt-3">
                    <div class="form-group">
                        <input type="email" class="form-control mb-3 form-control-lg" id="changeEmail" placeholder="Email">
                        <input type="number" class="form-control mb-3 form-control-lg" id="changeOTP" placeholder="OTP">
                        <input type="password" class="form-control mb-3 form-control-lg" id="changeNewPassword" placeholder="New Password">
                        <input type="password" class="form-control mb-3form-control-lg" id="changeConfirmPassword" placeholder="Confirm Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="changePassword()" class="btn btn-primary" data-bs-dismiss="modal">Change Password</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        //var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        //var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        //    return new bootstrap.Tooltip(tooltipTriggerEl)

        @*----------------------------------------
        AJAX UNTUK FORGOT PASSWORD
        ----------------------------------------*@
        //function forgotPassword() {
        //    var forgotPassword = {
        //        email: $("#forgotEmail").val(),
        //    };

        //    $.ajax({
        //        url: "https://localhost:7128/api/accounts/forgot-password",
        //        type: "POST",
        //        headers: {
        //            'Content-Type': 'application/json'
        //        },
        //        data: JSON.stringify(forgotPassword),
        //        success: function (result) {
        //            Swal.fire({
        //                title: 'Success',
        //                text: 'OTP Has Been Send!',
        //                icon: 'success'
        //            }).then(function () {
        //                location.reload();
        //            });
        //        },
        //        error: function (error) {
        //            Swal.fire({
        //                title: 'Oops',
        //                text: 'Failed to send OTP. Please try again.',
        //                icon: 'error'
        //            });
        //            console.log(error);
        //        }
        //    });
        //}

            function forgotPassword() {
                var forgotPassword = {
                    email: $("#forgotEmail").val(),
                };

                $.ajax({
                    url: "https://localhost:7128/api/accounts/forgot-password",
                    type: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(forgotPassword),
                    success: function (result) {
                        Swal.fire({
                            title: 'Success',
                            text: 'OTP Has Been Sent!',
                            icon: 'success'
                        }).then(function () {
                            $('#modalForgot').modal('hide'); // menutup modal forgot password
                            $('#modalChange').modal('show'); // membuka modal change password
                        });
                    },
                    error: function (error) {
                        Swal.fire({
                            title: 'Oops',
                            text: 'Failed to send OTP. Please try again.',
                            icon: 'error'
                        });
                        console.log(error);
                    }
                });
            }


        @*----------------------------------------
        AJAX UNTUK CHANGE PASSWORD
        ----------------------------------------*@
        //function changePassword() {
        //    var changePassword = {
        //        email: $("#changeEmail").val(),
        //        otp: $("#changeOTP").val(),
        //        newPassword: $("#changeNewPassword").val(),
        //        confirmPassword: $("#changeConfirmPassword").val(),
        //    };

        //    $.ajax({
        //        url: "https://localhost:7128/api/accounts/change-password",
        //        type: "POST",
        //        headers: {
        //            'Content-Type': 'application/json'
        //        },
        //        data: JSON.stringify(changePassword),
        //        success: function (result) {
        //            Swal.fire({
        //                title: 'Success',
        //                text: 'OTP Has Been Send!',
        //                icon: 'success'
        //            }).then(function () {
        //                location.reload();
        //            });
        //        },
        //        error: function (error) {
        //            Swal.fire({
        //                title: 'Oops',
        //                text: 'Failed to send OTP. Please try again.',
        //                icon: 'error'
        //            });
        //            console.log(error);
        //        }
        //    });
        //}

            function changePassword() {
                var changePassword = {
                    email: $("#changeEmail").val(),
                    otp: $("#changeOTP").val(),
                    newPassword: $("#changeNewPassword").val(),
                    confirmPassword: $("#changeConfirmPassword").val(),
                };

                $.ajax({
                    url: "https://localhost:7128/api/accounts/change-password",
                    type: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(changePassword),
                    success: function (result) {
                        Swal.fire({
                            title: 'Success',
                            text: 'Password changed successfully!',
                            icon: 'success'
                        }).then(function () {
                            $('#modalChange').modal('hide'); // menutup change password
                            window.location.href = '/Account/Login'; // setelah itu kembalikan ke login
                        });
                    },
                    error: function (error) {
                        Swal.fire({
                            title: 'Oops',
                            text: 'Failed to change password. Please try again.',
                            icon: 'error'
                        });
                        console.log(error);
                    }
                });
            }

    </script>  
}



