@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">

@*<div class="row">
    <div class="col-lg-6 col-md-6 mb-3">
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-title d-flex flex-column align-items-center justify-content-center custom-card-title">
                    <div class="custom-card-icon">
                        <i class="mdi mdi-account-multiple"></i>
                    </div>
                    <span class="mb-1">Total Employee</span>
                    <h3 class="card-title mb-2" id="total-employee">
                        <span id="total-employee-value"></span>
                        <span> Employee</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 mb-3">
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-title d-flex flex-column align-items-center justify-content-center custom-card-title">
                    <div class="custom-card-icon">
                        <i class="mdi mdi-desktop-mac"></i>
                    </div>
                    <span class="mb-1">Total Overtime</span>
                    <h3 class="card-title mb-2" id="total-overtime">
                        <span id="total-overtime-value"></span>
                        <span> Overtime</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card bg-facebook d-flex align-items-center">
            <div class="card-body py-5">
                <div class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-account-multiple text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                        <h1 class="text-white font-weight-bold">Total Employee</h1>
                        <h3 class="mt-2 text-white card-text" id="total-employee"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card bg-google d-flex align-items-center">
            <div class="card-body py-5">
                <div class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-book-multiple text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                        <h1 class="text-white font-weight-bold">Total Overtime</h1>
                        <h3 class="mt-2 text-white card-text" id="total-overtime"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <div class="card custom-card-chart">
            <div class="card-header custom-card-header-chart">
                <h3 class="card-title custom-card-title-chart">Gender</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body custom-card-body-chart">
                <canvas id="myChart" style="min-height: 100px; height: 250px; width:250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>






@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>*@


