@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-md-12 col-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="icon">
                        <i class="fas fa-solid fa-calendar-days fa-bounce fa-3x" style="color: #f3f708;"></i>
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Employee</span>
                <h3 class="card-title mb-2" id="total-employee">
                    <span id="total-employee-value"></span>
                    <span> Employee</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-12 col-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="icon">
                        <i class="fas fa-solid fa-calendar-days fa-bounce fa-3x" style="color: #f3f708;"></i>
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Overtime</span>
                <h3 class="card-title mb-2" id="total-overtime">
                    <span id="total-overtime-value"></span>
                    <span> Overtime</span>
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Gender</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
   
    <div class="card-body">
        <canvas id="myChart" style="min-height: 100%; height: 250px; max-height: 250px; max-width: 50%;"></canvas>
    </div>
    </div>
    <!-- /.card-body -->
</div>






@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>*@


