@using System.Net.Http

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/dashboard.css">
<meta charset="utf-8">
<title>Dynamic Calendar JavaScript | CodingNepal</title>
<link rel="stylesheet" href="~/css/calendar.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Font Link for Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<script src="~/js/calendar.js" defer></script>

@*<div class="row">
    <div class="col-lg-6 col-md-6 mb-3">
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-title d-flex flex-column align-items-center justify-content-center custom-card-title">
                    <div class="custom-card-icon">
                        <i class="mdi mdi-account-multiple"></i>
                    </div>
                    <span class="mb-1">Total Employee</span>
                    <h3 class="card-title mb-2" id="total-employee">
                        <span id="total-employee-value"></span>
                        <span> Employee</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 mb-3">
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-title d-flex flex-column align-items-center justify-content-center custom-card-title">
                    <div class="custom-card-icon">
                        <i class="mdi mdi-desktop-mac"></i>
                    </div>
                    <span class="mb-1">Total Overtime</span>
                    <h3 class="card-title mb-2" id="total-overtime">
                        <span id="total-overtime-value"></span>
                        <span> Overtime</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="content-wrapper">
   @* <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>
    </div>*@
    <div class="row">
        @if (User.IsInRole("Finance"))
        {
           @* <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">

                        <img src="~/NewImages/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Company Expense Salary
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <h2 class="mb-5" id="totalSalary">Total Salary</h2>
                    </div>
                </div>
            </div>*@
            @*<div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/NewImages/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Total Employees
                            <i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5" id="totalEmployee">Total Employee</h2>
                    </div>
                </div>
            </div>*@
        }

        @if (User.IsInRole("Employee"))
        {
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Paid Overtime
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <h2 class="mb-5" id="paidOver">Total Paid Overtime</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Remaining
                            <i class="mdi mdi-clock-alert mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5" id="overRemaining">Overtime Remaining</h2>
                    </div>
                </div>
            </div>



            @*<div class="container">
                <div class="col-md-6 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <h4 class="font-weight-normal mb-3">
                                Paid Overtime (in Millions)
                                <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                            </h4>
                            <canvas id="lineChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>*@
        }

        @if (User.IsInRole("Manager"))
        {
            @*<div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/NewImages/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Salary
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <canvas id="salaryLineChart" width="400" height="200"></canvas> <!-- Tambahkan elemen canvas untuk line chart -->
                    </div>
                </div>
            </div>*@

            @*<div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/NewImages/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            List Overtime
                            <i class="mdi mdi-clock-alert mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@ViewData["countWaiting"] Waiting</h2>
                    </div>
                </div>
            </div>*@
        }
    </div>
</div>

@if (User.IsInRole("Finance") || User.IsInRole("Manager"))
{
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="row">
                <!-- Total Employee Card -->
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card bg-facebook d-flex align-items-center text-center" style="min-height: 200px; padding-bottom: 20px;">
                        <!-- Menambahkan padding-bottom -->
                        <div class="card-body py-5">
                            <div class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                                <i class="mdi mdi-account-multiple text-white icon-lg"></i>
                                <div class="ml-3 ml-md-0 ml-xl-3">
                                    <h1 class="text-white font-weight-bold">Total</h1>
                                    <h1 class="text-white font-weight-bold">Employee</h1>
                                    <h3 class="mt-2 text-white card-text" id="total-employee"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Total Overtime Card -->
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card bg-google d-flex align-items-center text-center" style="min-height: 200px; padding-bottom: 20px;">
                        <!-- Menambahkan padding-bottom -->
                        <div class="card-body py-5">
                            <div class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                                <i class="mdi mdi-book-multiple text-white icon-lg"></i>
                                <div class="ml-3 ml-md-0 ml-xl-3">
                                    <h1 class="text-white font-weight-bold">Total</h1>
                                    <h1 class="text-white font-weight-bold">Overtime</h1>
                                    <h3 class="mt-2 text-white card-text" id="total-overtime"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gender Chart Card -->
        <div class="col-lg-4">
            <div class="card custom-card-chart" style="height: auto;">
                <div class="card-header custom-card-header-chart">
                    <h3 class="card-title custom-card-title-chart">Gender</h3>
                </div>
                <div class="card-body custom-card-body-chart d-flex justify-content-center align-items-center">
                    <canvas id="myChart" style="max-width: 100%; height: 100%;"></canvas>
                </div>
            </div>
        </div>

        <!-- Calendar -->
        <div class="col-lg-4">
            <div class="wrapper" style="height: auto;">
                <header>
                    <p class="current-date"></p>
                    <div class="icons">
                        <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="days"></ul>
                </div>
            </div>
        </div>
    </div>
}



    @if (User.IsInRole("Manager"))
    {
        <div class="row">
            <!-- Total Accepted Card -->
            <div class="col-lg-4">
                <div class="card bg-gradient-success d-flex align-items-center">
                    <div class="card-body py-5 text-center">
                        <i class="mdi mdi-checkbox-multiple-marked-circle text-white icon-lg mb-3"></i>
                        <h1 class="text-white font-weight-bold">Total Accepted</h1>
                        <h3 class="mt-2 text-white card-text" id="countAccepted"></h3>
                        @if (User.IsInRole("Finance") || User.IsInRole("Manager"))
                        {
                            <a href="/overtime/index" class="nav-link"><i class="mdi mdi-checkbox-multiple-marked-circle text-white icon-sm"></i></a>
                        }
                    </div>
                </div>
            </div>

            <!-- Total Rejected Card -->
            <div class="col-lg-4">
                <div class="card bg-gradient-danger d-flex align-items-center">
                    <div class="card-body py-5 text-center">
                        <i class="mdi mdi-close-circle text-white icon-lg mb-3"></i>
                        <h1 class="text-white font-weight-bold">Total Rejected</h1>
                        <h3 class="mt-2 text-white card-text" id="countRejected"></h3>
                        @if (User.IsInRole("Finance") || User.IsInRole("Manager"))
                        {
                            <a href="/overtime/index" class="nav-link"><i class="mdi mdi-close-circle text-white icon-sm"></i></a>
                        }
                    </div>
                </div>
            </div>

            <!-- Total Waiting Card -->
            <div class="col-lg-4">
                <div class="card bg-behance d-flex align-items-center">
                    <div class="card-body py-5 text-center">
                        <i class="mdi mdi-message-processing text-white icon-lg mb-3"></i>
                        <h1 class="text-white font-weight-bold">Total Waiting</h1>
                        <h3 class="mt-2 text-white card-text" id="countWaiting"></h3>
                        @if (User.IsInRole("Finance") || User.IsInRole("Manager"))
                        {
                            <a href="/overtime/index" class="nav-link"><i class="mdi mdi-message-processing text-white icon-sm"></i></a>
                        }
                </div>
            </div>
        </div>
    </div>
}


@if (User.IsInRole("Employee"))
{
    <div class="container mt-3">
        <div class="card shadow">
            <div class="card-header bg-gradient-primary">
                <h5 class="card-title text-white mdi mdi-account-card-details"></h5>
                @*<button class="btn btn-primary mdi mdi-account-card-details"></button>*@
            </div>
            <div class="card-body">
                <div class="row details">
                    <div class="col-md-4 details-column">
                        <p><strong>Full Name</strong></p>
                        <p><strong>Role Name</strong></p>
                        <p><strong>Email</strong></p>
                        <p><strong>NIK</strong></p>
                        <p><strong>Phone Number</strong></p>
                        <p><strong>Salary</strong></p>
                        <p><strong>Allowance</strong></p>
                        <p><strong>Paid Overtime</strong></p>
                        <p><strong>Overtime Remaining</strong></p>
                        <p><strong>Total Salary</strong></p>
                    </div>

                    <div class="col-md-2 details-column">
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                        <p><strong>:</strong></p>
                    </div>

                    <div class="col-md-6 details-column">
                        <p id="fullName"></p>
                        <p id="roleName"></p>
                        <p id="email"></p>
                        <p id="nik"></p>
                        <p id="phoneNumber"></p>
                        <p id="salary"></p>
                        <p id="allowance"></p>
                        <p id="paidOvertime"></p>

                        <div class="d-flex align-items-center">
                            <div class="progress" id="overtimeRemaining" style="flex-grow: 1; margin-right: 10px;">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="40" style="width: 0%;">
                                    <span class="progress-text">0%</span>
                                </div>
                            </div>
                            <span class="progress-value" id="overtimeRemainingValue">0 / 40</span>
                        </div>
                        <p id="totalSalary"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}







@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        // Function to format currency to Rupiah
        function formatCurrency(amount) {
            return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(amount);
        }

        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7128/api/accounts/Profil/@User.FindFirst("Guid").Value",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                console.log(result)
                $("#fullName").html(result.data.fullName);
                $("#roleName").html(result.data.roleName);
                $("#email").html(result.data.email);
                $("#nik").html(result.data.nik);
                $("#phoneNumber").html(result.data.phoneNumber);
                $("#salary").html(formatCurrency(result.data.salary)); // Format the currency
                $("#allowance").html(formatCurrency(result.data.allowance)); // Format the currency
                $("#paidOvertime").html(formatCurrency(result.data.paidOvertime)); // Format the currency
                // Perhitungan nilai Overtime Remaining
                var overtimeRemaining = result.data.overtimeRemaining;
                var maxOvertime = 40;
                var progress = (overtimeRemaining / maxOvertime) * 100;

                // Tambahkan kelas CSS berdasarkan kondisi Overtime Remaining
                if (overtimeRemaining < maxOvertime) {
                    $("#overtimeRemaining .progress-bar").addClass("less-than-max");
                } else if (overtimeRemaining === maxOvertime) {
                    $("#overtimeRemaining .progress-bar").addClass("max-value");
                }

                $("#overtimeRemaining .progress-text").html(`${progress.toFixed(2)}%`);
                $("#overtimeRemaining .progress-bar").css("width", `${progress}%`);
                $("#overtimeRemainingValue").html(`${overtimeRemaining} / ${maxOvertime}`);



                $("#totalSalary").html(formatCurrency(result.data.totalSalary)); // Format the currency
            }).fail((error) => {
                console.log("Failed to fetch data from server.", error);
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7128/api/accounts/Profil/@User.FindFirst("Guid").Value",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                $("#paidOver").html(formatCurrency(result.data.paidOvertime));
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7128/api/accounts/Profil/@User.FindFirst("Guid").Value",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
               
                $("#overRemaining").html(result.data.overtimeRemaining);
            });
        });

        //var paidOvertimeData = {
        //    labels: ['Paid Overtime', 'Overtime Remaining'],
        //    datasets: [{
        //        data: [5000, 3000], // Ganti dengan data yang sesuai
        //        backgroundColor: ['#FF5733', '#33FF57'],
        //        borderWidth: 0
        //    }]
        //};

        // Konfigurasi pie chart
        var options = {
            responsive: true,
            maintainAspectRatio: false
        };

        // Dapatkan elemen canvas dan buat pie chart di dalamnya untuk Paid Overtime
        var paidOvertimeCtx = document.getElementById('paidOvertimeChart').getContext('2d');
        var paidOvertimeChart = new Chart(paidOvertimeCtx, {
            type: 'pie',
            data: paidOvertimeData,
            options: options
        });

        // Dapatkan elemen canvas dan buat pie chart di dalamnya untuk Overtime Remaining
        var overtimeRemainingCtx = document.getElementById('overtimeRemainingChart').getContext('2d');
        var overtimeRemainingChart = new Chart(overtimeRemainingCtx, {
            type: 'pie',
            data: paidOvertimeData, // Gunakan data yang sesuai
            options: options
        });


        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7128/api/employees",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done(function (result) {
                var totalEmployee = result.data.length;
                $("#totalEmployee").text(totalEmployee);
            }).fail(function (error) {
                $("#totalEmployee").text("Failed to fetch data");
                console.log(error)
            });
        });

        //$(document).ready(function () {
        //    $.ajax({
        //        url: "https://localhost:7128/api/payrolls/total-salary/@User.FindFirst("Guid").Value"
        //    }).done((result) => {

        //        $("#totalSalary").html(result.data.Salary);
        //    });
        //});

        //$(document).ready(function () {
        //    $.ajax({
        //        url: "https://localhost:7128/api/payrolls/total-salary",
        //        method: "GET",
        //        dataType: "json",
        //    })
        //        .done(function (result) {
        //            var totalSalary = result.data;
        //            $("#totalSalary").text(totalSalary);
        //        })
        //        .fail(function (error) {
        //            $("#totalSalary").text("Failed to fetch data");
        //            console.log(error);
        //        });
        //});
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7128/api/accounts/Profil/@User.FindFirst("Guid").Value",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                const paidOvertime = result.data.paidOvertime;

                // Menghitung perbandingan nilai dengan 1 juta, 2 juta, dan 3 juta (dibagi 1.000.000)
                const paidOvertimeInMillions = paidOvertime / 1000000;
                const paidOvertimeInMillions2 = paidOvertime / 2000000;
                const paidOvertimeInMillions3 = paidOvertime / 3000000;

                const lineData = {
                    labels: ["Paid Overtime (1M)", "Paid Overtime (2M)", "Paid Overtime (3M)"],
                    datasets: [{
                        label: 'Paid Overtime',
                        data: [paidOvertimeInMillions, paidOvertimeInMillions2, paidOvertimeInMillions3],
                        borderColor: '#FF5733',
                        fill: false
                    }]
                };

                // Mendapatkan elemen canvas dan menginisialisasi chart
                const lineCanvas = document.getElementById("lineChart");
                const lineCtx = lineCanvas.getContext('2d');
                new Chart(lineCtx, {
                    type: 'line',
                    data: lineData,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        });
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/site.js"></script>


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>*@


