html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*chart*/
.custom-card {
    background-color: greenyellow;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/*chart gender*/
.custom-card-chart {
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.custom-card-header-chart {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-card-title-chart {
    margin: auto;
    padding: 10px;
}

.custom-card-body-chart {
    padding: 20px;
}

.form-control option[value="0"] {
    background-color: green;
    color: white;
}

.form-control option[value="1"] {
    background-color: red;
    color: white;
}

.form-control option[value="2"] {
    background-color: blue;
    color: white;
}

.btn btn-primary{
    background:none;
    background-color:none;
    border-radius:50px;
}

/* CSS untuk mengatur radius sudut dan warna latar belakang tombol-tombol DataTables */
div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-left: .167em;
    margin-right: .167em;
    margin-bottom: .333em;
    padding: .5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    cursor: pointer;
    font-size: .88em;
    line-height: 1.6em;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
}

/* Warna latar belakang untuk badge Accepted */
.btn-success .badge.bg-success {
    background-color: #28a745;
}

/* Warna latar belakang untuk badge Waiting */
.btn-warning .badge.bg-warning {
    background-color: #ffc107;
}

/* Warna latar belakang untuk badge Rejected */
.btn-danger .badge.bg-danger {
    background-color: #dc3545;
}








