@*@using System.Net.Http*@
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Overtime Request</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Layout/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Layout/vendors/css/vendor.bundle.base.css">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Layout/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Layout/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
<div class="container-scroller d-flex">
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item sidebar-category">
                <p>Navigation</p>
                <span></span>
            </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-view-quilt menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                        @*<div class="badge badge-info badge-pill">2</div>*@
                    </a>
                </li>
            <li class="nav-item sidebar-category">
                <p>Components</p>
                <span></span>
            </li>
               
                            @if (User.IsInRole("Finance"))
                            {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                            <span class="menu-title">Employee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">
                            <i class="mdi mdi-clipboard-account menu-icon"></i>
                            <span class="menu-title">Role</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="HistoryOvertime" asp-action="Index">
                            <i class="mdi mdi-archive menu-icon"></i>
                            <span class="menu-title">HistoryOvertime</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Overtime" asp-action="Index">
                            <i class="mdi mdi-book-plus menu-icon"></i>
                            <span class="menu-title">Overtime</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Payroll" asp-action="Index">
                            <i class="mdi mdi-cash-usd menu-icon"></i>
                            <span class="menu-title">Payroll</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">
                            <i class="mdi mdi-account menu-icon"></i>
                            <span class="menu-title">Account</span>
                        </a>
                    </li>
                   @* <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="AccountRole" asp-action="Index">
                            <i class="mdi mdi-account-card-details menu-icon"></i>
                            <span class="menu-title">AccountRole</span>
                        </a>
                    </li>*@
                            }
                <li class="nav-item">
                     @if (User.IsInRole("Employee"))
                     {
                        <a class="nav-link" href="/Overtime/Create">
                            <i class="mdi mdi-book-plus menu-icon"></i>
                            <span class="menu-title">Create Overtime</span>
                        </a>
                     }
                </li>

                <li class="nav-item">
                    @if (User.IsInRole("Manager"))
                    {
                        <a class="nav-link" asp-area="" asp-controller="Overtime" asp-action="Index">
                            <i class="mdi mdi-book-plus menu-icon"></i>
                            <span class="menu-title">Overtime</span>
                        </a>
                    }
                </li>

                @if (User.IsInRole("Employee"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Payroll" asp-action="PayslipDetail">
                            <i class="mdi mdi-cash-multiple menu-icon"></i>
                            <span class="menu-title">Payslip</span>
                        </a>
                    </li>
                }
               
                          
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="navbar-brand-wrapper">
                       @* <a href="#">
                            <img src="~/Layout/images/metrodatatsp.png" alt="Icon" width="32" height="32">
                        </a>*@
                    @*
                    <a class="navbar-brand brand-logo" href="index.html"><img src="~/Layout/images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Layout/images/logo-mini.svg" alt="logo" /></a>*@
                </div>
                <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, @User.FindFirst("FullName").Value</h4>
                <ul class="navbar-nav navbar-nav-right">
                   @* <li class="nav-item">
                        <h4 class="mb-0 font-weight-bold d-none d-xl-block">Mar 12, 2019 - Apr 10, 2019</h4>
                    </li>*@
                        <li class="nav-item">
                            <h4 id="currentDateTime" class="mb-0 font-weight-bold d-none d-xl-block"> @*nyambung ke js*@
                            </h4>
                        </li>
                   @* <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-calendar mx-0"></i>
                            <span class="count bg-info">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Layout/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">
                                        David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Layout/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">
                                        Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Layout/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">
                                        Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>*@
                    @*<li class="nav-item dropdown mr-2">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-open mx-0"></i>
                            <span class="count bg-danger">1</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>*@
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                @*<ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>*@
                    <ul class="navbar-nav mr-lg-5">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <marquee behavior="scroll" direction="left" scrollamount="5" style="color: black;">
                                Pengumuman!!! 
                                Pengajuan Lembur Maksimal Setiap Tanggal 25 Dengan Ketentuan Apabila Telah Melebihi          
                                8 jam kerja dalam 1 hari atau 40 jam kerja dalam 1 minggu untuk 5 hari kerja.
                            </marquee>
                        </li>
                    </ul>
                    
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/Layout/images/metrodatatsp.png" alt="profile" />
                            <span class="nav-profile-name">@User.FindFirst("FullName").Value</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                           @* <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>*@
                                <a class="dropdown-item" href="/account/login">
                                   <i class="mdi mdi-logout text-primary"></i>
                                   
                                   Logout
                            </a>
                        </div>
                    </li>
                        @if (User.IsInRole("Finance"))
                        {
                            <li class="nav-item">
                                <a data-bs-toggle="modal" data-bs-target="#modalRegister" style="cursor: pointer" class="nav-link icon-link">
                                    <i class="mdi mdi-account-multiple-plus"></i>
                                </a>
                            </li>
                        }
                      @*  <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-web"></i>
                        </a>
                    </li>*@
                    @*<li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-clock-outline"></i>
                        </a>
                    </li>*@
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:./partials/_footer.html -->
            <footer class="footer">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed By: <a href="https://www.themewagon.com/" target="_blank">ThemeWagon</a></span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
    @*----------------------------------------
    MODAL UNTUK REGISTER
    ----------------------------------------*@


    <div class="modal fade" tabindex="-1" role="dialog" id="modalRegister">
        <div class="modal-dialog modal-lg modal-dialog-split" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registration Form</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="col-md-6 bg-info bg-opacity-50 text-black p-4">
                        <h3 class="mb-4">Personal Information</h3>
                        <form class="pt-3">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="datetime-local" class="form-control form-control-lg" id="birthDate" placeholder="Birth Date" data-bs-toggle="tooltip" data-bs-placement="top" title="Select Employee Birth Date!">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-lg" id="gender">
                                    <option value="0">Female</option>
                                    <option value="1">Male</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 p-4">
                        <h3 class="mb-4">Account Information</h3>
                        <form class="pt-3">
                            <div class="form-group">
                                <input type="datetime-local" class="form-control form-control-lg" id="hiringDate" placeholder="Hiring Date" data-bs-toggle="tooltip" data-bs-placement="top" title="Select Employee Hiring Date!">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control form-control-lg" id="phoneNumber" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="managerGuid" placeholder="Manager Guid">
								@*<select class="form-select" id="managerGuid">
									<option>Select Manager</option>
                                </select>*@
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control form-control-lg" id="salary" placeholder="Salary">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="register()" class="btn btn-primary" data-bs-dismiss="modal">Register</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
@*    <script>
        const Token = '@Context.Session.GetString("JWToken")'
    </script>*@
<!-- container-scroller -->
<!-- base:js -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Layout/vendors/js/vendor.bundle.base.js"></script>
  @*  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
*@<!-- endinject -->
<!-- Plugin js for this page-->
<script src="~/Layout/vendors/chart.js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- End plugin js for this page-->
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- inject:js -->
<script src="~/Layout/js/off-canvas.js"></script>
<script src="~/Layout/js/hoverable-collapse.js"></script>
<script src="~/Layout/js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/Layout/js/dashboard.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- End custom js for this page-->
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>